.carousel-item {
    height: 100vh;
    min-height: 560px;
    max-height: 800px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .carousel-caption {
    bottom: 230px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    text-shadow: -4px -4px 10px rgb(66, 65, 65),
    4px -4px 10px rgb(66, 65, 65),
    -4px 4px 10px rgb(66, 65, 65),
    4px 4px 10px  rgb(66, 65, 65);
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    text-shadow: -4px -4px 15px rgb(66, 65, 65),
    4px -4px 15px rgb(66, 65, 65),
    -4px 4px 15px rgb(66, 65, 65),
    4px 4px 15px  rgb(66, 65, 65);
  }
  
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: -4px -4px 15px rgb(66, 65, 65),
    4px -4px 15px rgb(66, 65, 65),
    -4px 4px 15px rgb(66, 65, 65),
    4px 4px 15px  rgb(66, 65, 65)
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  .navbar-light .navbar-toggler {
    color: rgb(24, 15, 5);
    border-color: rgba(236, 234, 230, 0.91);
    background: #bdb9b9;
}

  .navbar-dark .navbar-toggler {
    color: rgb(24, 15, 5);
    border-color: rgba(247, 166, 18, 0.91);
    background: #3e3939;
}
  .container.mt-5 > div.image > img{
    width: 290px;
    height: 240px;
  }
  .container.mt-5 > blockquote > h1{
    color: darkslategrey;
    font-family: 'CousineBold';
    font-size: 55px;
  }
  .container.mt-5 > div > div {
    color: darkslategrey;
  }
  .container.mt-5 > div > div > div > h5{
    font-size: 30px;
    font-family: 'CousineBold';
  }
  .container.mt-5 > div > div > div > p{
    font-size: 23px;
    font-family: 'FrancoisOne';
  }
  .w-100 {
    width:unset; 
 }

  .container-fluid.slider{
    background: url("../../img/img_index/imagen23.jpg");
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    color: white;
    margin-top: 20px;
 }

/* CARUSEL ACTIVIDADES*/
.wrapper{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.item{
  background: red;
  height: 300px;
  margin-top: 20px;
}
.blockquote > h1{
  color: darkslategrey;
  font-family: 'CousineBold';
  font-size: 55px;
  margin-top: 20px;
}
/* MEDIA QUERY*/
 @media (max-width: 375px){
  .carousel-inner{
    height: 560px;
 }
 #carouselExampleIndicators > div > div:nth-child(1) > img{
  width: 750px;
  height: 560px;
  margin-left: -100%;
}
#carouselExampleIndicators > div > div:nth-child(2) > img{
  width: 760px;
  height: 560px;
  margin-left: -55%;
}
#carouselExampleIndicators > div > div:nth-child(3) > img{
  width: 736px;
  height: 560px;
  margin-left: -30%;
}
#carouselExampleIndicators > div > div:nth-child(4) > img{
  width: 680px;
  height: 560px;
  margin-left: -42%;
}
.container-fluid.slider{
  margin-top: 20px;
  background: url("../../img/img_index/imagen22.jpg");
  background-color: rgb(100,100,100);
  background-blend-mode: soft-light;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

 }

  @media (min-width: 376px)and (max-width: 425px) {
    .carousel-inner{
      height: 560px;
  }
  #carouselExampleIndicators > div > div:nth-child(1) > img{
    width: 750px;
    height: 560px;
    margin-left: -77%;
  }
  #carouselExampleIndicators > div > div:nth-child(2) > img{
    width: 760px;
    height: 560px;
    margin-left: -47%;
  }
  #carouselExampleIndicators > div > div:nth-child(3) > img{
    width: 736px;
    height: 560px;
    margin-left: -13%;
  }
  #carouselExampleIndicators > div > div:nth-child(4) > img{
    width: 680px;
    height: 560px;
    margin-left: -32%;
  }
  .container-fluid.slider{
    margin-top: 20px;
    background: url("../../img/img_index/imagen22.jpg");
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
 }
 }
 
@media (min-width: 425.2px)and (max-width: 575.98px) {
    .carousel-inner{
      height: 560px;
    }
    #carouselExampleIndicators > div > div:nth-child(1) > img{
      width: 876px;
      height: 560px;
      margin-left: -106%;
    }
    #carouselExampleIndicators > div > div:nth-child(2) > img{
      width: 948px;
      height: 560px;
      margin-left: -70%;
    }
    #carouselExampleIndicators > div > div:nth-child(3) > img{
      width: 927px;
      height: 560px;
      margin-left: -13%;
    }
    #carouselExampleIndicators > div > div:nth-child(4) > img{
      width: 868px;
      height: 560px;
      margin-left: -57%;
    }

  .container.mt-5 > blockquote > h1{
    font-size: 3rem;
  }
  
  .container.mt-5 > div.image > img {
    width: 250px;
    height: 220px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px){ 
    .carousel-inner{
      height: 560px;
    }
    #carouselExampleIndicators > div > div:nth-child(1) > img{
      width: 876px;
      height: 560px;
      margin-left: -13%;
    }
    #carouselExampleIndicators > div > div:nth-child(2) > img{
      width: 948px;
      height: 560px;
      margin-left: -23%;
    }
    #carouselExampleIndicators > div > div:nth-child(3) > img{
      width: 927px;
      height: 560px;
      margin-left: -0%;
    }
    #carouselExampleIndicators > div > div:nth-child(4) > img{
      width: 868px;
      height: 560px;
      margin-left: -13%;
    }

  .container.mt-5 > blockquote > h1{
    font-size: 3rem;
  }
  
  .container.mt-5 > div.image > img {
    width: 250px;
    height: 220px;
  }
}


@media (min-width: 768px) and (max-width: 907.98px) { 
  .carousel-inner{
    height: 560px;
  }
  #carouselExampleIndicators > div > div:nth-child(1) > img{
    width: 908px;
    height: 585px;
    margin-left: -17%;
  }
  #carouselExampleIndicators > div > div:nth-child(2) > img{
    width: 948px;
    height: 560px;
    margin-left: -4%;
  }
  #carouselExampleIndicators > div > div:nth-child(3) > img{
    width: 927px;
    height: 560px;
    margin-left: -2%;
  }
  #carouselExampleIndicators > div > div:nth-child(4) > img{
    width: 911px;
    height: 578px;
    margin-left: 0%;
  }
 .carousel-caption {
  bottom: 200px;
}

 }
/*

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .carousel-inner img {
    width: 100%;
    height: 650px;
  }
  .carousel-inner {
    height: 650px;
 }
 .carousel-caption {
  bottom: 400px;
}
 } 
 
 Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { 
  .carousel-inner img {
    width: 100%;
    height: 600px;
  }
  .carousel-inner{
    height: 600px;
 }
 .carousel-caption {
  bottom: 120px;
 }
}

/*Fuentes*/
@font-face{
  font-family: FrancoisOne;
  src: url(fonts/FrancoisOne-Regular.ttf);
}
@font-face{
  font-family: CousineBold;
  src: url(fonts/Cousine-Bold.ttf);
}
@font-face{
  font-family: CousineRegular;
  src: url(fonts/Cousine-Regular.ttf);
}